<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="disciplines">
        <div class="game csgo" style="background-image: url('/img/csgo_image.png');">
            <p>Csgo is here</p>
        </div>
        <div class="game dota" style="background-image: url('/img/dota_image.png');">
            <p>Dota is here</p>
        </div>
        <div class="game lol" style="background-image: url('/img/lol_image.png');">
            <p>LoL is here</p>
        </div>
    </div>
</body>
</html>