<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="disciplines">
        <div class="game csgo">
            <p class="text__csgo">Csgo is here</p>
        </div>
        <div class="game dota">
            <p class="text__dota">Dota is here</p>
        </div>
        <div class="game lol">
            <p class="text__lol">LoL is here</p>
        </div>
    </div>
</body>
</html>