<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="home_clicker.js"></script>
</head>
<body>
    <div class="disciplines">
        <a href="csgo" class="game csgo" style="background-image: url('/img/csgo_image.png');"><p class="button__text">CS:GO</p></a>
        <a href="dota" class="game dota" style="background-image: url('/img/dota_image.png');">Dota</a>
        <a href="lol" class="game lol" style="background-image: url('/img/lol_image.png');">LoL</a>
    </div>
</body>
</html>