<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="analytics__options">
        <a class="analytics gamers" href="/lol_gamers">Get gamers statistic</a>
        <a class="analytics teams" href="/lol_teams">Get teams statistic</a>
        <a class="analytics tournaments" href="/lol_tournaments">Get tournaments statistic</a>
    </div>
</body>
</html>